<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Job Scrapper</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    </head>
    <body>
        <main class="container">
            <hgroup>
                <h1>Search Results for "{{keyword}}"</h1>
                <h3>{{count}} jobs found</h3>
                <a href="/export?keyword={{keyword}}" target="_blank">Export to file</a>
                <a href="/" target="_self">Back</a>
            </hgroup>
            <figure><table role="grid">
                <thead>
                    <tr>
                        <th><strong>Position</strong></th>
                        <th><strong>Company</strong></th>
                        <th><strong>Location</strong></th>
                        <th><strong>URL</strong></th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs %}
                        <tr>
                            <td>{{job.position}}</td>
                            <td>{{job.company}}</td>
                            <td>{{job.location}}</td>
                            <td><a href="{{job.link}}" target="_blank">Apply</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table></figure>
        </main>
    </body>
</html>